$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #ff7851;
$orange: #fd7e14;
$yellow: #ffce67;
$green: #56cc9d;
$teal: #20c997;
$cyan: #6cc3d5;
$white: #e7e7de;
$gray: #cecece;
$gray-dark: #343a40;
$light-gray: #d4d0d0dc;
$primary: #112d4e;
$secondary: #6eb6ff;
$highlight: #0f3057;
$success: #56cc9d;
$info: #348ed8;
$warning: #ffce67;
$danger: #ff7851;
$light: #f8f9fa;
$dark: #343a40;
$text-alt: #e7e7e7;
