.worker-card {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 0.5em;
    margin: 0.6em;
    padding: 0.4em;
    border: 1px solid $light-gray;
    transition: 0.2s ease-in-out;
    h6 {
        small {
            float: right;
        }
    }
    p {
        font-size: 0.9rem;
    }
    &:hover {
        transform: scale(1.02);
        transition: 0.2s ease-in-out;
        box-shadow: 6px 5px 5px $gray;
    }
    .worker-img {
        width: 30%;
        display: flex;
        img {
            border-radius: 0.5em;
        }
    }
    .content {
        padding: 0.4em;
        width: 70%;
    }
    @media only screen and (max-width: 767px) {
        margin: 0.4em;

        flex-direction: column;
        .worker-img {
            width: 100%;
            display: flex;
            img {
                border-radius: 0.5em;
            }
        }
        .content {
            width: 100%;
            h6 {
                small {
                    width: 100%;
                }
            }
        }
    }
}
.worker {
    padding: 0.4em;
    transition: 0.2s ease-in-out;
    h6 {
        small {
            float: right;
        }
    }
    p {
        font-size: 0.9rem;
    }
    .review {
        padding: 0.3em;
    }
    .read-more {
        cursor: pointer;
        color: $primary;
        &:hover {
            color: $secondary;
        }
    }
}
.worker-modal {
    &.modal-dialog {
        min-width: 50vw;
        width: auto;
        @media (min-width: 576px) {
            max-width: 50vw;

            margin: 0.75em auto;
        }
    }
    .fa-angle-down,
    .fa-angle-up {
        color: $secondary;
    }
}
.fa-star {
    color: $yellow;
}
