#Capa_1 {
    fill: white !important;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.text-align-center {
    text-align: center;
}

.position-sticky {
    top: 0;
}

.badge-gray {
    background-color: var(--gray) !important;
    color: white !important;
}

.cross {
    margin-left: 0.1rem;
}

.cross:hover {
    cursor: pointer;
    color: var(--red);
    border-radius: 50%;
}

.selectable {
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-size: 1rem !important;
    margin-bottom: 0.35em;
}