.display-inline {
    display: inline !important;
}

.navbar {
    color: var(--white) !important;
    background: var(--primary);
}

li.nav-item {
    text-align: center !important;
}

.dropdown-menu.show {
    border-color: transparent !important;
}

.navbar-brand {
    color: var(--white) !important;
    font-size: 1.5rem;
}

.navbar .dropdown-menu.show {
    background-color: var(--primary);
}

.navbar .dropdown-item {
    color: var(--white) !important;
}

.navbar .dropdown-item:focus,
.dropdown-item:active,
.dropdown-item:hover {
    color: var(--secondary) !important;
    text-decoration: none;
    background-color: transparent !important;
}

.navbar-brand:hover {
    color: var(--secondary) !important;
}

.nav-item {
    padding: 0.5rem;
}

.nav-item a {
    color: var(--text-alt) !important;
}

.nav-item .active {
    color: var(--secondary) !important;
}

.nav-item a:hover {
    color: var(--secondary) !important;
    text-decoration: none;
}

.dropdown-menu-center {
    right: auto;
    left: auto;
    text-align: center !important;
}

@media (min-width: 992px) {
    .dropdown-menu-center {
        text-align: left;
        right: auto;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

/* toggler */

/* 
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
    display: block;
    background-color: var(--secondary);
    height: 2px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    left: 0;
    opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    -webkit-transition: transform 0.35s ease-in-out;
    -moz-transition: transform 0.35s ease-in-out;
    -o-transition: transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
} */

/* toggler minus */

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    display: block;
    background-color: var(--secondary);
    height: 2px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    left: 0;
    opacity: 1;
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 0, 0) rotate(0deg) !important;
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
    transform: translate3d(0, 0, 0) rotate(0deg) !important;
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
    transform: translate3d(0, 0, 0) rotate(0deg) !important;
}

.navbar-toggler .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 6px, 0) !important;
}

.navbar-toggler .icon-bar:nth-of-type(3) {
    transform: translate3d(0, -6px, 0) !important;
}
