@import "./variables";
@import "./job";
@import "./worker";
@import "./loader";
@import "./bgPattern";
@import "./navbar";
@import "./footer";
@import "./home";
@import "./about";
@import "./auth";
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.text-align-center {
    text-align: center;
}

.text-align-end {
    text-align: end;
}

.position-sticky {
    top: 0;
}

.bg-light-gray {
    background-color: $light-gray;
}

.text-white {
    color: $white !important;
}
.link {
    cursor: pointer;
    &:hover {
        color: $secondary !important;
    }
}
a {
    color: $secondary;

    &:hover {
        color: $secondary;
    }
}
.btn.btn-primary {
    background-color: $primary;
    &:hover,
    &:active,
    &:focus {
        background-color: rgba($primary, 0.9) !important;
    }
}
.myClassName__control {
    height: 40px;
}
